hyperopt
setuptools<81
ipykernel
ipython
ipywidgets
matplotlib
numpy
pandas
pillow
plotly
pyarrow
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.11.0+cu128
torchvision==0.26.0+cu128
tornado
